* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.hero {
  background-image: url(HeroImage.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
}

.start {
  width: 100px;
  height: 34px;
}
.mid {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.end {
  font-size: 14px;
  background-color: white;
  color: black;
  border-radius: 24px;
  padding: 13px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}
.op1 {
  opacity: 72%;
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
}
.op2 {
  opacity: 98%;
  font-size: 250px;
  font-family: "Bebas Neue", sans-serif;
}
.op3 {
  opacity: 80%;
  font-size: 64px;
  font-family: "Hanuman", serif;
  font-weight: 900;
  font-style: Black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
/* ssssssssss */
.location {
  height: 70vh;
  background-image: url(Location\ image.png);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.overlay:hover {
  background-color: rgb(0, 0, 0, 0.25);
}
.overlay {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-image: url(1.png);
}
.box2 {
  background-image: url(id.png);
}
.box3 {
  background-image: url(if.png);
}
.box4 {
  background-image: url(4.png);
}
.vh {
  height: 370px;
  width: 275.49px;
  border-radius: 40px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 37px;
  gap: 10px;
  text-align: center;
  background-size: cover;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
  text-shadow: rgb(43, 42, 42) 4px 8px 6px;
}

/* sssssssssss */
.roadmap {
  background-image: url(Roadmap\ image.png);

  background-size: cover;
  width: 2240px;
  height: 1420px;
  background-repeat: no-repeat;
}

.head {
  text-align: center;
  padding-top: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.size {
  font-size: 42px;
  font-family: Inter;
  font-weight: 600;
  font-style: Bold;
  text-align: center;
}
.size1 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  text-transform: capitalize;
  opacity: 70%;
}
.s.relative {
  display: flex;
  justify-content: space-around;
  width: 1200;
  height: 640;
  top: 264px;
  left: 120px;
}
.boxes {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 120px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-top: 170px;
  position: relative;
}
.box {
  width: 513;
  height: 112;
  opacity: 1;
  border-radius: 120px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.bg-color1 {
  background-color: rgba(238, 233, 217, 1);
}
.bg-color2 {
  background-color: rgba(139, 184, 193, 0.8);
}
.bg-color3 {
  background-color: rgba(170, 216, 215, 0.8);
}
.bg-color4 {
  background-color: rgba(139, 192, 189, 0.8);
}
.bg-color5 {
  background-color: rgba(151, 204, 224, 0.8);
}
/* .div {gap:100px;} */
.h {
  font-size: 24px;
}
.p {
  font-size: 12px;
}
.box:hover {
  border: 5px solid white;
}
.box:hover + .zurag11 {
  display: block;
}
.zurag11 {
  position: absolute;
  left: 1627px;
  top: 193px;
  display: none;
  width: 380;
  height: 380;
}
.box:hover + .zurag22 {
  display: block;
}
.zurag22 {
  position: absolute;
  left: 1313px;
  top: 44px;
  display: none;
  width: 380;
  height: 380;
}
.box:hover + .zurag33 {
  display: block;
}
.zurag33 {
  width: 380px;
  height: 380px;
  position: absolute;
  left: 1079px;
  top: 232px;
  display: none;
}
.box:hover + .zurag44 {
  display: block;
}
.zurag44 {
  width: 380px;
  height: 380px;
  position: absolute;
  left: 1050px;
  top: -57px;
  display: none;
}
.box:hover + .zurag55 {
  display: block;
}
.zurag55 {
  width: 380px;
  height: 380px;
  position: absolute;
  left: 909px;
  top: 575px;
  display: none;
}

.box + .zurag1 {
  display: block;
}

.zurag1 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1818px;
  top: 360px;
}
.box + .zurag2 {
  display: block;
}

.zurag2 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1480px;
  top: 170px;
}
.box + .zurag3 {
  display: block;
}
.zurag3 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1190px;
  top: 350px;
}
.box + .zurag4 {
  display: block;
}
.zurag4 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 600px;
  top: 600px;
}
.box + .zurag5 {
  display: block;
}
/* .box:hover + .zurag5 {
  display: block;
  
} */
.zurag5 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1100px;
  top: 750px;
}
.img {
  height: 14px;
  width: 14px;
} /* .column{display: flex; flex-direction:column} */

.day {
  width: 52;
  height: 52;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-size: 14px;
  background-color: rgba(247, 246, 243, 1);
  border-radius: 50%;
}

/*
.box3.1 {
}
.box3.2 {
}
.box3.3 {
}
.box3.4 {
}
.box3.5 {
}
.ct {border: ;} */
.footer {
  background-image: url(Price&Footer\ image.png);
  height: 100vh;
}
.tolgoi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}
/* .hmje {
  width: 1440;
  height: 51;
  opacity: 1;
  font-size: 42px;
}
.hmje1 {
  width: 1440;
  height: 24;
  opacity: 1;
  font-size: 20px;
} */
.saves {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding-top: 80px;
}
.save1:hover {
  box-shadow: 8px 8px #29728b40, -8px -8px #2e414766;
}
.save1:hover .button {
  background-color: black;
  opacity: 85%;
  color: white;
}
.save1 {
  border-radius: 40px;
  background-color: rgba(250, 251, 252, 1);
  width: 384px;
  height: 527px;
  opacity: 1;
}
.save2:hover {
  box-shadow: 8px 8px #29728b40, -8px -8px #2e414766;
}
.save2:hover .button {
  background-color: black;
  opacity: 85%;
  color: white;
}
.save2 {
  border-radius: 40px;
  background-color: rgba(250, 251, 252, 1);
  width: 384px;
  height: 527px;
  opacity: 1;
}
.save3:hover {
  box-shadow: 8px 8px #29728b40, -8px -8px #2e414766;
}
.save3:hover .button {
  background-color: black;
  opacity: 85%;
  color: white;
}
.save3 {
  border-radius: 40px;
  background-color: rgba(250, 251, 252, 1);
  width: 384px;
  height: 527px;
  opacity: 1;
}
.zurh:hover {
  opacity: 90%;
  transform: scale(1.1);
}
.zurh {
  width: 36;
  height: 36;
  opacity: 1;
  gap: 10px;
}
.t {
  width: 141;
  height: 22;
  font-size: 18px;
}
.price {
  width: 336;
  height: 290;
  gap: 32px;
  padding-top: 8;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
.includes {
  width: 336;
  height: 180;
  padding-top: 8;
}
/* .haha {
  /* width: 336;
  height: 10; */
.inc {
  height: 22;
  font-weight: 500;
  font-size: 18px;
  vertical-align: bottom;
  gap: 10px;
  opacity: 1;
  padding-right: 40px;
  padding-top: 20px;
  padding-left: 45px;
}
.M {
  width: 336;
  height: 78;
  gap: 10px;
}

.zurh1 {
  width: 384;
  height: 92;
  opacity: 1;
  gap: 16px;
  border-bottom-width: 1px;
  padding-top: 35;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.W {
  width: 336;
  height: 49;
  font-weight: 600;
  font-size: 40px;
  vertical-align: bottom;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: Montserrat;
}
.h-h {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  color: rgba(145, 145, 145, 1);
  font-family: "Inter";
  padding-top: 5px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 336;
  height: 27;
  gap: 10px;
  padding-top: 5px;
}
.pop {
  width: 91;
  height: 27;
  gap: 10px;
  border-radius: 200px;
  background-color: rgba(105, 114, 181, 1);
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  color: white;
}
.zurh2 {
  width: 384;
  height: 92;
  opacity: 1;
  gap: 16px;
  border-bottom-width: 1px;
  padding-top: 35;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.zurh3 {
  width: 384;
  height: 92;
  opacity: 1;
  gap: 16px;
  border-bottom-width: 1px;
  padding-top: 35;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.check {
  width: 20;
  height: 20;
}
.haha {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 4px;
  padding-top: 25px;
  padding-bottom: 18;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  width: 360;
  height: 10;
  opacity: 60%;
}
.hha {
  display: flex;
  height: 133px;
  justify-content: center;
  align-items: center;
}
.button {
  width: 336;
  height: 48;
  opacity: 1;
  border-radius: 200px;
  background-color: rgba(164, 209, 226, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.startlog {
  display: flex;
  flex-direction: column;
}
.endlog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 240;
  padding-left: 500;
  padding-right: 500;
}
